/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the accounts modal. */



#accountModal {
	width: 75%;
	height: 70%;
}

#accountModal .modal-content {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	overflow-y: hidden;
}

#accountNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#accountSelection li {
	width: 50%;
    text-align: center;
}

.accountContainer {
	display: none;
}

.accountContainer p {
	margin-left: 30px;
	margin-right: 30px;
	line-height: 15px;
}