/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the accounts modal. */



.input-field input[type=password]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password].valid {
	border-bottom: 1px solid green;
	box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password].invalid {
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0 0 #000;
}

#accountModal {
	width: 75%;
	height: 70%;
}

#accountModal .modal-content {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	overflow-y: hidden;
}

#accountModal h5, #accountModal h6 {
	text-decoration: underline;
}

#accountModal p {
	line-height: 35px;
}

#accountNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#accountSelection li {
	width: 50%;
    text-align: center;
}

#profilePassword {
	margin-left: 2%;
}

#profilePasswordDiv {
	margin-top: 0;
}

#profilePasswordIcon {
    width: 25px;
    right: 1%;
    font-size: 25px;
    top: 15px;
    color: white;
    cursor: pointer;
}

.accountContainer {
	display: none;
}

.accountContainer p {
	margin-left: 30px;
	margin-right: 30px;
	line-height: 15px;
}

.accountWindowDiv {
    margin-left: 20px !important;
}