/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the addRecord page. */



.recordGenresTitle {
	margin-top: 15px;
	position: relative;
	bottom: 20px;
}

.categoryDiv .formInfo {
	position: relative;
	bottom: 15px;
}

.categoryBottomForm {
	position: relative;
	bottom: 20px;
}

#addRecordBody {
	overflow-y: hidden;
}

#categorySelection li {
	width: 20%;
    text-align: center;
}

#associationsModalPar {
	margin-left: 14px;
}

#associationsCollection {
	position: relative;
    left: 14px;
    width: calc(100% - 24px);
}

.addRecordSave {
	position: fixed !important;
	right: 23px;
	bottom: 92px;
}

.categoryDiv .row {
	position: relative;
	bottom: 10px;
}

.categoryTopForm {
	margin-left: 5% !important;
	display: inline-block;
}

.categoryMoreDetailsForm {
	display: inline-block;
}

.addRecordImg {
	margin-bottom: 5px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	height: auto;
	width: 100%;
}

.recordMoreDetailsModal {
	width: 65%;
	height: 55%;
}

.recordPreloader {
	visibility: hidden;
	position: absolute !important;
    top: 23px;
    right: 23px;
    display: inline !important;
}

.addRecordImgBtnDiv {
	width: 100%;
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
}

.addRecordImageDiv {
	width: 22%;
}

.recordAddImgInput {
	display: none;
}

#animeReview, #animeSynopsis,
#bookReview, #bookSynopsis {
	max-height: 400px;
}

#updateRecordPreloader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
}

#filmMoreDetailsModal, #showMoreDetailsModal {
	max-height: 75%;
	height: 75%;
}

.recordFavoriteImageLink {
	color: #2A2A8E;
    position: absolute;
    left: 5px;
    top: 5px;
    visibility: hidden;
    cursor: initial;
}

.recordFavoriteImageLink i {
	font-size: 30px;
}

#genresModal {
	height: 35%;
	width: 60%;
}

#bookFetchDetailsBtn {
	margin-top: 3%;
}

#searchBarModal {
	max-height: 85%;
	height: 85%;
	width: 90%;
}

#searchBarModal ul {
	padding: revert;
}

#searchBarModal li {
	list-style-type: disc;
}

.otherGenresDiv {
	display: none;
}

.addRecordAnimeImgBtnContainer, .addRecordBookImgBtnContainer {
	width: 20%;
	display: inline-block;
}

.addRecordFilesDiv {
	background-color: #2A2A8E !important;
}

.addRecordBtn {
	background-color: #2A2A8E !important;
	margin-left: 1.5%;
}

.addRecordImgBtn {
	background-color: #2A2A8E !important;
	width: 100%;
}

.addRecordDiv {
	margin-left: 50px;
	width: 85%;
}

.categoryDiv {
	display: none;
	position: relative;
    bottom: 20px;
}

.contentModal {
	max-height: 75% !important;
	height: 75% !important;
	width: 75% !important;
}

.modalContentButtons {
    position: relative;
    top: 25%;
    left: 25%;
}

.modalContentAdd {
	color: #2A2A8E;
}

.modalContentDelete {
	color: red;
}

.modalContentEpisodeDelete {
	padding-top: 1% !important;
    padding-left: 4.2% !important;
}

.modalContentEpisodeDeleteIcon {
	cursor: pointer;
}

.infoIcon {
	font-size: 16px !important;
	color: #2A2A8E!important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

.genresIcon {
	font-size: 22px !important;
}

.file-path {
	font-size: 12px !important;
	color: #3E3E3E !important;
}

.formInfo {
	margin-bottom: 15px;
}

.text {
	font-size: 18px !important;
	margin-left: 50px !important;
	width: 90% !important;
}

.autocomplete-content {
	max-height: 465%;
}

.addRecordDiv .active {
	color: #2A2A8E;
}

#mangaAddChapter {
	display: none;
}

.mangaModalButtons {
	left: 5%;
}

#volumeFetchPreloader {
	visibility: hidden;
	width: 35px;
    height: 35px;
    position: absolute;
    right: 3%;
    top: 4%;
}

.mangaVolumeSynopsis {
	max-height: 150px;
	overflow-y: auto;
}