/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the filter modal. */



#filterModal .checkboxText {
	font-size: 12px;
}

#filterModal {
	width: 97%;
	height: 85%;
	max-height: 85%;
}

#filterModal .s2 {
	width: 20%;
}

#filterModalGenreHeading {
	margin-top: 25px;
}