/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the import modal. */



#importModal {
	top: 20% !important;
    width: 55% !important;
    height: 30%;
    max-height: 50%;
    overflow-y: hidden;
}

#importModal .modal-content {
	overflow-y: hidden;
}

#importModalForm {
	line-height: 2.5;
}

#importModalFormDiv {
	overflow-y: auto;
}