/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the index page. */



#add, #animeSearchSubmission, #bookSearchSubmission,
#filmSearchSubmission, #mangaSearchSubmission, #showSearchSubmission {
	position: fixed;
  	bottom: 23px;
  	right: 23px;
}

#animeNameSearchInnerDiv {
	display: none;
}

#animeNameSearchInnerDiv1 {
	display: none;
}

#animeNameSearchInnerDiv2, #bookNameSearchInnerDiv2 {
	margin-bottom: 0;
}

#animeSearchSwitch {
	position: fixed;
  	bottom: 92px;
  	right: 23px;
}

#animeSeasonSearchYearDiv ul {
	height: 250px;
}

#bookmarkModal {
	top: 30% !important;
	height: 30%;
	width: 60%;
}

#chunkCheck {
	text-align: center;
	display: none;
}

#chunkCheck i {
	font-size: 90px;
	color: #2A2A8E;
}

#chunkPreloader {
	display: none;
    margin: 1% auto 5% auto;
}

#contentSearchDiv {
	display: none;
}

#contentSearchDiv .select-dropdown span {
	text-align: left;
}

#headersTableDiv, #tableDiv {
	position: relative;
	bottom: 15px;
}

#homeCounter {
	text-align: center;
    width: 105%;
    position: absolute;
    bottom: -10%;
}

#homeSelected {
	text-align: center;
    width: 105%;
    position: absolute;
    bottom: -5%;
}

#iconModal {
	width: 80%;
}

#iconModalList {
	line-height: 30px;
}

#indexHome {
	display: none;
}

#notifications, #updateAvailable {
	display: none;
}

#outerLayer {
	position: relative;
	margin: 8px 0 auto 0;
	width: 95%;
}

#preloader {
	display: block !important;
    position: fixed;
    left: 47%;
    top: 50%;
  	margin: 0 auto;
}

#remove {
	background-color: #2A2A8E;
	position: fixed;
  	bottom: 23px;
  	left: 23px;
  	display: none;
}

#searchBarDiv1 {
	margin-left: 40px;
	margin-bottom: 0;
}

#searchBarDiv2 {
	margin-bottom: 0;
}

#synopsisModal {
	width: 75%;
    height: 60%;
    top: 15% !important;
}

#synopsisPreloader {
	display: none;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#table, #headersTable {
	width: 95%;
	margin-left: 50px;
}

#tableBody {
	font-size: 13px;
}

#tableDiv {
	height: 467px;
	overflow-y: auto;
	overflow-x: hidden;
}

#titlebarLogo {
	height: 20px;
}

#updateBookmark {
	display: none;
}

#updateModal {
	width: 80%;
	overflow-y: hidden;
}

#updateChangelogDiv {
	display: none;
}

#updateModalContentDiv {
	height: calc(100% - 120px);
	padding-top: 30px;
}

#updateModalContentDiv ul {
	padding-left: 50px;
}

#updateModalContentDiv ul li {
	list-style-type: disc;
}

#updateNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#updatePreloader {
	display: block !important;
	position: relative !important;
	left: 46%;
	margin-bottom: 3%;
}

#updatePreloaderDiv {
	font-weight: bold;
	display: none;
}

#updateSelection li {
	width: 50%;
    text-align: center;
}

.extraIconDiv, .synopsisIconDiv {
	display: inline;
}

.extraInfoIcon {
	color: #2A2A8E !important;
	font-size: 15px !important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

.func {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	font-size: 18px !important;
	background-color: #2A2A8E !important;
  	color: white !important;
  	border-radius: 12px !important;
}

.iconModalSymbol {
	color: #2A2A8E !important;
	font-size: 18px !important;
    position: relative;
    top: 4px;
}

.iconSorter {
	position: relative;
	top: 8px;
	left: 8px;
	cursor: pointer;
}

.indicator {
	background-color: white !important;
}

.notificationCheck, .recordsChecks {
	opacity: 1 !important;
	position: relative !important;
	top: 2px;
	accent-color: #2A2A8E;
	cursor: pointer;
	pointer-events: initial !important;
}

.preloaderIndicator {
	position: absolute !important;
	bottom: 40px;
	right: 40px;
}

.recordButtonsRowDiv {
	height: 20px;
	position: relative;
	bottom: 58px;
}

.recordIcon {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.recordsNameContainer {
	text-align: left;
	padding-right: 25px;
}

.recordsNameRowDiv {
	font-weight: bold;
	line-height: 20px;
	color:blue;
 	text-decoration:underline;
	cursor: pointer;
	display: inline;
}

.recordsRowDiv {
	line-height: 20px;
}

.searchInfoIcon {
	margin-left: 5%;
}

.searchItemContainer {
	display: inline-block;
    width: 15%;
    height: auto; 
    margin-bottom: 5%;
    margin-right: 5%;
}

.seasonItemImage {
	width: 100%;
	height: auto;
	border: 2px solid black;
	cursor: pointer;
}

.seasonItemText {
    white-space: nowrap;
    overflow: hidden;
}

.spinner-layer {
	border-color: #2A2A8E !important;
}

.synopsisInfoIcon {
	font-size: 15px !important;
	color: #2A2A8E!important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

.tabDiv {
	position: relative;
	margin: 3% 0 auto 5%;
	width: 90%;
	display: none;
}

.tabs .tab a:focus.active {
	background-color: rgba(0,0,0,0.1) !important;
}

.tabSearchLink {
	color: white !important;
}

.topNavTapContainer {
	display: inline-block;
}