/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the splash page. */



body {
	background-color: black;
    overflow-y: hidden;
}

#dragRegion {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
    visibility: hidden;
}

#logsTerminalSplash {
    padding: 1%;
    overflow-y: auto;
    height: 75%;
    margin-left: 1%;
    margin-right: 1%;
}

#splashContainer {
	height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#splashImg {
	height: 30%;
    width: auto;
}

#splashLoadContainer {
	display: flex;
	justify-content: center;
	position: relative;
    bottom: 25px;
}

#splashMessage {
	color: white;
    text-align: center;
    position: relative;
    bottom: 45px;
    font-size: 20px;
}

#splashTerminalContainer {
    color: white;
    position: relative;
    bottom: 225px;
    display: none;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 15px;
}

#splashTerminalTitle {
    text-decoration: underline;
}

#windowControls {
    display: grid;
    grid-template-columns: repeat(1, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 5%;
    cursor: pointer;
}

#windowControls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-app-region: no-drag
}

.loadBlink {
  	animation: blinker 1s linear infinite;
}

.splashLoad {
	height: 10px;
    width: 10px;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.25;
    border-radius: 5px;
}

@keyframes blinker {
  	50% {
    	opacity: 0;
  	}
}