/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for all app pages. */



html {
	background-color: #D9D9DB;
	font-family: "Montserrat" !important;
}

nav {
	background-color: #2A2A8E !important;
}

h2 {
	text-decoration: underline;
	margin-left: 50px !important;
	font-size: 25px !important;
}

.select-wrapper input.select-dropdown {
	text-align: center;
}

button {
	font-family: "Montserrat" !important;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border-color: #2A2A8E !important;
	background-color: #2A2A8E !important;
}

#outerLayer {
	position: relative;
	margin: auto 0;
	width: 95%;
}

#firstButtonsDiv {
	margin-bottom: -70px;
}

#toast-container {
  	top: auto !important;
  	right: auto !important;
  	bottom: 10%;
  	left:7%;  
}

#secondSimpleText {
	margin-top: 50px;
}

.text {
	font-size: 18px !important;
	margin-left: 50px !important;
	width: 90% !important;
}

.func {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	font-size: 18px !important;
	background-color: #2A2A8E !important;
  	color: white !important;
  	border-radius: 12px !important;
}

.formInfo {
	margin-bottom: 15px;
}

.file-path {
	font-size: 12px !important;
	color: #3E3E3E !important;
}

.innerDiv {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

.dropdown-content li>span, .select-wrapper span {
	color: #2A2A8E !important;
}

.select-dropdown li.disabled>span {
	color: rgba(0,0,0,0.3) !important;
}

.select-dropdown li>span {
	text-align: center;
}

.checkboxSpan {
	top: 5px;
	left: 10px;
	color: initial;
	line-height: initial !important;
}

.checkboxText {
	color: initial;
	line-height: 20px !important;
}

.checkboxLabel {
	display: block;
}

.preloaderIndicator {
	position: absolute !important;
	bottom: 40px;
	right: 40px;
}

.tableBold {
	font-weight: bold;
}

.topSubmit {
	height: 25px;
	text-align: right;
}

.topSubmitReposition {
	position: relative;
	bottom: 96px;
	right: 8%;
}

.topPush {
	margin-top: 35px;
}

.bottomPush {
	margin-top: -20px;
}

.listChecks {
	margin-left: 50px;
  	margin-top: 15px;
}

#formFilesDiv {
	background-color: #2A2A8E;
}

#table, #headersTable {
	width: 95%;
	margin-left: 50px;
}

#cardTable {
	width: 95%;
	margin: 25px auto 50px auto;
	table-layout: fixed;
}

#notes {
	word-wrap: break-word;
}

#add {
	background-color: #2A2A8E;
	position: fixed;
  	bottom: 60px;
  	right: 25px;
}

#remove {
	background-color: #2A2A8E;
	position: fixed;
  	bottom: 365px;
  	right: 25px;
  	display: none;
}

#tableDiv, #headersTableDiv {
	position: relative;
	bottom: 15px;
}

#tableDiv {
	height: 357px;
	overflow-y: auto;
	overflow-x: hidden;
}

#searchBarDiv1 {
	margin-left: 40px;
	margin-bottom: 0;
}

#searchBarDiv2 {
	margin-bottom: 0;
}

#searchBarDiv1 input[type="text"]:not(.browser-default):focus:not([readonly]),
#searchBarDiv1 input.valid[type="text"]:not(.browser-default) {
	border-bottom-color: #2A2A8E;
	box-shadow: 0 1px 0 0 #2A2A8E;
}

#searchBarDiv1 input[type="text"]:not(.browser-default):focus:not([readonly])+label {
	color: #2A2A8E !important;
}

#searchBarDiv1 .input-field .prefix.active {
	color: #2A2A8E !important;
}

#preloader {
	display: block !important;
	position: relative !important;
  	margin: 0 auto;
  	bottom: 225px;
}

/*#tripDatesItem {
	margin-right: 35px;
}

#contactCardNavList {
	display: none;
}*/

#defModalBtn {
	background-color: #2A2A8E !important;
	color: white !important;
	margin-left: 15px;
}

/*#smallModalBtn, #mediumModalBtn, #largeModalBtn, #allModalBtn {
	background-color: #D9D9DB !important;
	margin-left: 3px;
}

#datesPreloader {
	display: block !important;
	position: relative !important;
  	margin: 0 auto 30px auto;
  	top: 30px;
  	bottom: initial;
  	right: initial;
}*/

/*#tripDatesTable {
	border-collapse: inherit;
}

#tripDatesTable tr td {
	padding: 5px;
	border-right: 1px solid black;
}

#tripDatesTable tr td:last-child {
	border-right: none;
}*/

/*.contactsNameRowDiv {
	line-height: 20px;
	cursor: pointer;
}

.contactsButtonsRowDiv {
	height: 20px;
	position: relative;
	bottom: 58px;
}*/

.addRecordDiv {
	margin-left: 50px;
	width: 85%;
}

.categoryDiv {
	display: none;
}

/*.contactCardTitle {
	width: 80%;
}

.contactsChecks {
	opacity: 1 !important;
	position: relative !important;
	top: 2px;
}

.removePhoneButton {
	font-size: 18px !important;
  	background-color: #2A2A8E !important;
  	color: white !important;
  	border-radius: 12px !important;
}

.removePhoneButtonDiv {
	text-align: center;
}

.removePhoneIcon {
	line-height: inherit !important;
}*/

#categorySelection li {
	width: 20%;
    text-align: center;
}

#addRecordFilesDiv {
	background-color: #2A2A8E;
}

.row {
	margin-bottom: 0 !important;
}

.genreRow {
	margin-bottom: 10px !important;
}

#genresTitle {
	margin-top: 15px;
}

.btn-floating {
	background-color: #2A2A8E !important;
}

.modal {
	border-radius: 30px !important;
}

.animeAddButtons {
	background-color: #2A2A8E !important;
	margin-left: 3px !important;
	border-radius: 30px !important;
	color: white !important;
}

.modal {
	max-height: 75% !important;
	height: 75% !important;
	width: 75% !important;
}

.modalContentButtons {
    position: relative;
    top: 25%;
    left: 25%;
}

.modalContentAdd {
	color: #2A2A8E;
}

.modalContentDelete {
	color: red;
}

.modalContentEpisodeDelete {
	padding-top: 1% !important;
    padding-left: 4.2% !important;
}

/*.collapsible-body {
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}*/