/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for all app pages. */



html {
	background-color: #D9D9DB;
	font-family: "Montserrat" !important;
}

body {
	overflow-x: hidden;
}

nav {
	background-color: #2A2A8E !important;
}

h2 {
	text-decoration: underline;
	margin-left: 50px !important;
	font-size: 25px !important;
}

button {
	font-family: "Montserrat" !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border-color: #2A2A8E !important;
	background-color: #2A2A8E !important;
}

#searchBarDiv1 input[type="text"]:not(.browser-default):focus:not([readonly]),
#animeNameSearchInnerDiv1 input[type="text"]:not(.browser-default):focus:not([readonly]),
#searchBarDiv1 input.valid[type="text"]:not(.browser-default),
#animeNameSearchInnerDiv1 input.valid[type="text"]:not(.browser-default),
[type="text"]:not(.browser-default):focus:not([readonly]),
input.valid[type="text"]:not(.browser-default),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input.valid[type=date]:not(.browser-default),
textarea.materialize-textarea:focus:not([readonly]),
textarea.materialize-textarea.valid {
	border-bottom-color: #2A2A8E !important;
	box-shadow: 0 1px 0 0 #2A2A8E !important;
}

#searchBarDiv1 .input-field .prefix.active,
#animeNameSearchInnerDiv1 .input-field .prefix.active,
#bookNameSearchInnerDiv1 .input-field .prefix.active,
#filmNameSearchInnerDiv1 .input-field .prefix.active,
#mangaNameSearchInnerDiv1 .input-field .prefix.active,
#showNameSearchInnerDiv1 .input-field .prefix.active,
input[type="text"]:not(.browser-default):focus:not([readonly])+label,
input[type="date"]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type="text"]:not(.browser-default):focus.valid ~ label {
	color: #2A2A8E !important;
}

#toast-container {
  	top: auto !important;
  	right: auto !important;
  	bottom: 10%;
  	left:7%;  
}

.select-wrapper input.select-dropdown {
	text-align: center;
}

.dropdown-content li>span, .select-wrapper span {
	color: #2A2A8E !important;
}

.select-dropdown li.disabled>span {
	color: rgba(0,0,0,0.3) !important;
}

.select-dropdown li {
	min-height: 0px !important;
}

.select-dropdown li>span {
	text-align: center;
	font-size: 14px !important;
	line-height: 12px !important;
}

.checkboxSpan {
	top: 5px;
	left: 10px;
	color: initial;
	line-height: initial !important;
}

.checkboxText {
	color: initial;
	line-height: 20px !important;
}

.checkboxLabel {
	display: block;
}

.infoModal {
	top: 30% !important;
    width: 55% !important;
}

.btn-floating {
	background-color: #2A2A8E !important;
}

.modal {
	border-radius: 30px !important;
}

.row {
	margin-bottom: 0 !important;
}

.modalButtons {
	background-color: #2A2A8E !important;
	margin-left: 3px !important;
	border-radius: 30px !important;
	color: white !important;
}

.genreRow {
	margin-bottom: 10px !important;
}

.selectShortVerticalScroll ul {
	height: 125px !important;
}

.select-wrapper input.select-dropdown:focus {
	border-bottom-color: #2A2A8E !important;
}

.invisibleGenreCheck {
	visibility: hidden;
	height: 25px;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the index page. */



#outerLayer {
	position: relative;
	margin: 8px 0 auto 0;
	width: 95%;
}

#contentSearchDiv {
	display: none;
}

.tabDiv {
	position: relative;
	margin: 3% 0 auto 5%;
	width: 90%;
}

.indicator {
	background-color: white !important;
}

.tabDiv {
	display: none;
}

.tabSearchLink {
	color: white !important;
}

.tabs .tab a:focus.active {
	background-color: rgba(0,0,0,0.1) !important;
}

#contentSearchDiv .select-dropdown span {
	text-align: left;
}

#table, #headersTable {
	width: 95%;
	margin-left: 50px;
}

#add, #animeSearchSubmission, #bookSearchSubmission,
#filmSearchSubmission, #mangaSearchSubmission, #showSearchSubmission {
	position: fixed;
  	bottom: 23px;
  	right: 23px;
}

#animeSearchSwitch {
	position: fixed;
  	bottom: 92px;
  	right: 23px;
}

#remove {
	background-color: #2A2A8E;
	position: fixed;
  	bottom: 23px;
  	left: 23px;
  	display: none;
}

#tableDiv, #headersTableDiv {
	position: relative;
	bottom: 15px;
}

#tableDiv {
	height: 467px;
	overflow-y: auto;
	overflow-x: hidden;
}

#searchBarDiv1 {
	margin-left: 40px;
	margin-bottom: 0;
}

#searchBarDiv2 {
	margin-bottom: 0;
}

#animeNameSearchInnerDiv1 {
	display: none;
}

#animeNameSearchInnerDiv2, #bookNameSearchInnerDiv2 {
	margin-bottom: 0;
}

#preloader {
	display: block !important;
    position: fixed;
    left: 47%;
    top: 50%;
  	margin: 0 auto;
}

#chunkPreloader {
	display: none;
    margin: 1% auto 5% auto;
}

#chunkCheck {
	text-align: center;
	display: none;
}

#chunkCheck i {
	font-size: 90px;
	color: #2A2A8E;
}

#synopsisModal {
	width: 75%;
    height: 60%;
    top: 15% !important;
}

#synopsisPreloader {
	display: none;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#updatePreloader {
	display: block !important;
	position: relative !important;
	left: 46%;
	margin-bottom: 3%;
}

#updatePreloaderDiv {
	font-weight: bold;
	display: none;
}

#updateAvailable, #notifications {
	display: none;
}

#tableBody {
	font-size: 13px;
}

#updateModalContent ul {
	padding-left: 50px;
}

#updateModalContent ul li {
	list-style-type: disc;
}

#indexHome {
	display: none;
}

#animeSeasonSearchYearDiv ul {
	height: 250px;
}

#animeNameSearchInnerDiv {
	display: none;
}

#homeCounter {
	text-align: center;
    width: 105%;
    position: absolute;
    bottom: -10%;
}

#homeSelected {
	text-align: center;
    width: 105%;
    position: absolute;
    bottom: -5%;
}

.spinner-layer {
	border-color: #2A2A8E !important;
}

.preloaderIndicator {
	position: absolute !important;
	bottom: 40px;
	right: 40px;
}

.recordsNameRowDiv {
	line-height: 20px;
	color:blue;
 	text-decoration:underline;
	cursor: pointer;
	display: inline;
}

.recordsRowDiv {
	line-height: 20px;
}

.recordButtonsRowDiv {
	height: 20px;
	position: relative;
	bottom: 58px;
}

.recordsChecks {
	opacity: 1 !important;
	position: relative !important;
	top: 2px;
	accent-color: #2A2A8E;
	cursor: pointer;
	pointer-events: initial !important;
}

.iconSorter {
	position: relative;
	top: 8px;
	left: 8px;
	cursor: pointer;
}

.func {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	font-size: 18px !important;
	background-color: #2A2A8E !important;
  	color: white !important;
  	border-radius: 12px !important;
}

.topNavTapContainer {
	display: inline-block;
}

.synopsisIconDiv {
	display: inline;
}

.recordsNameContainer {
	text-align: left;
	padding-right: 25px;
}

.synopsisInfoIcon {
	font-size: 15px !important;
	color: #2A2A8E!important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

.seasonItemImage {
	width: 100%;
	height: auto;
	border: 2px solid black;
	cursor: pointer;
}

.searchItemContainer {
	display: inline-block;
    width: 15%;
    height: auto; 
    margin-bottom: 5%;
    margin-right: 5%;
}

.seasonItemText {
    white-space: nowrap;
    overflow: hidden;
}

.searchInfoIcon {
	margin-left: 5%;
}

.recordIcon {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the filter modal. */



#filterModal {
	width: 97%;
	height: 85%;
	max-height: 85%;
}

#filterModal .s2 {
	width: 20%;
}

#filterModalGenreHeading {
	margin-top: 25px;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the database modal. */



#databaseModal {
	top: 3% !important;
	width: 75%;
	height: 720px;
	max-height: 100%;
}

#databaseImportBtn {
	display: none;
}

#databaseNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#databaseSelection li {
	width: 50%;
    text-align: center;
}

#databaseModal .modal-content {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

#databaseExportContainer p, #databaseImportContainer p {
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 35px;
}

#databaseCheckLabel {
	position: relative;
	top: 14px;
	left: 70px;
}

#databaseCheckSpan {
	line-height: 19px;
}

#databasePreloader {
	display: none;
	margin: 3% auto 3% auto;
}

#databaseSwitchDiv, #mangaModalSwitchDiv {
	position: relative;
    top: 12px;
    left: 25px;
}

#XLSXTypeSwitchDiv {
	display: none;
	position: relative;
    top: 12px;
    left: 55px;
}

#databaseSwitchDiv label,
#mangaModalSwitchDiv label,
#XLSXTypeSwitchDiv label,
#databaseCheckLabel span {
	color: black;
	font-weight: bold;
}

#databaseSwitchDiv label input[type=checkbox]:checked+.lever:after,
#mangaModalSwitchDiv label input[type=checkbox]:checked+.lever:after,
#XLSXTypeSwitchDiv label input[type=checkbox]:checked+.lever:after {
	background-color: #2A2A8E !important;
}

#importXLSXContent, .importXLSXContentSimple, .importXLSXContentDetailed {
	display: none;
}

.databaseImportDiv {
	margin-left: 11px !important;
}

.databaseWindowDiv {
    margin-left: 20px !important;
}

.databaseDataInput {
	width: 80% !important;
}

.databaseContainer {
	display: none;
}

.importDiv {
	display: none;
}

.textFocus {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: bold;
	font-size: 13px;
}


/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the import modal. */



#importModal {
	top: 20% !important;
    width: 55% !important;
    height: 50%;
    max-height: 50%;
    overflow-y: hidden;
}

#importModal .modal-content {
	overflow-y: hidden;
}

#importModalForm {
	line-height: 2.5;
}

#importModalFormDiv {
	overflow-y: auto;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the settings modal. */



footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
}

#settingsModal h5 {
	text-decoration: underline;
}

#settingsModal {
	width: 75%;
	max-height: 80%;
	height: 80%;
}

#settingsModal .modal-content {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	overflow-y: hidden;
}

#settingsNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#settingsColorDiv {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}

#settingsSecondaryWindowDiv {
	margin-top: 0px !important;
}

#settingsAboutContainer p {
	margin: 30px;
	line-height: 35px;
}

#settingsSelection li {
	width: 33.33%;
    text-align: center;
}

#appVersion {
	margin: 30px;
    position: absolute;
    bottom: 35px;
}

#logsTerminal {
	color: black;
    width: 90%;
    height: 80%;
    margin: 4% auto 0 auto;
    padding: 1%;
    overflow-y: auto;
}

#logsFolder {
	display: none;
}

.fullScreenRow {
	margin-top: 15px;
}

.settingsSecondCheckbox {
	margin-left: -9px !important;
}

.settingsColorContainers {
	width: 49%;
    display: inline-block;
}

.settingsColorInput {
	position: relative;
    top: 4px;
    left: 6px;
}

.settingsWindowDiv {
    margin-left: 20px !important;
}

.settingsWindowInputDiv {
	width: 49% !important;
	margin-bottom: 0px !important;
}

.settingsWindowInput {
	width: 15% !important;
}

.settingsHeaders {
	margin-bottom: 0px;
	position: relative;
	top: 5px;
}

.settingsContainer {
	display: none;
}

.settingsDataInput {
	width: 80% !important;
}

.hyperlink {
	color: blue;
    text-decoration: underline;
    cursor: pointer;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the notifications modal. */



#notificationsTitle {
	padding-left: 17px;
	padding-right: 17px;
}

#snoozeDropdown {
	width: 110px !important;
	border-radius: 17px;
}

.secondary-content {
	cursor: pointer;
}

.secondary-content i, .dropdown-content li > a {
	color: #2A2A8E !important
}

.snoozeBtn {
	position: absolute;
	right: 60px;
	top: 11px;
}

.notificationsCheckDiv {
	cursor: inherit;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the application tutorial. */



#introductionModal {
	height: 35%;
}

#introductionCheckLabel {
	position: relative;
	top: 11px;
	left: 16px;
}

#introductionCheckSpan {
	line-height: 19px;
}

.tap-target {
	background-color: #2A2A8E !important;
	color: white;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the addRecord page. */



.recordGenresTitle {
	margin-top: 15px;
	position: relative;
	bottom: 20px;
}

.categoryDiv .formInfo {
	position: relative;
	bottom: 15px;
}

.categoryBottomForm {
	position: relative;
	bottom: 20px;
}

#addRecordBody {
	overflow-y: hidden;
}

#categorySelection li {
	width: 20%;
    text-align: center;
}

#animeSave, #mangaSave, #showSave {
	position: fixed;
	right: 23px;
	bottom: 92px;
}

#bookSave, #filmSave {
	position: fixed;
	right: 23px;
	bottom: 23px;
}

.categoryDiv .row {
	position: relative;
	bottom: 10px;
}

.categoryTopForm {
	margin-left: 5% !important;
	display: inline-block;
}

.categoryMoreDetailsForm {
	display: inline-block;
}

.addRecordImg {
	margin-bottom: 5px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	height: auto;
	width: 100%;
}

.recordMoreDetailsModal {
	width: 65%;
	height: 55%;
}

.recordPreloader {
	visibility: hidden;
	position: absolute !important;
    top: 23px;
    right: 23px;
    display: inline !important;
}

.addRecordImgBtnDiv {
	width: 100%;
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
}

.addRecordImageDiv {
	width: 22%;
}

.recordAddImgInput {
	display: none;
}

#animeReview, #animeSynopsis,
#bookReview, #bookSynopsis {
	max-height: 400px;
}

#updateRecordPreloader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
}

#filmMoreDetailsModal, #showMoreDetailsModal {
	max-height: 75%;
	height: 75%;
}

.recordFavoriteImageLink {
	color: #2A2A8E;
    position: absolute;
    left: 5px;
    top: 5px;
    visibility: hidden;
    cursor: initial;
}

.recordFavoriteImageLink i {
	font-size: 30px;
}

#genresModal {
	height: 35%;
	width: 60%;
}

#bookFetchDetailsBtn {
	margin-top: 3%;
}

#searchBarModal {
	max-height: 85%;
	height: 85%;
	width: 90%;
}

#searchBarModal ul {
	padding: revert;
}

#searchBarModal li {
	list-style-type: disc;
}

.otherGenresDiv {
	display: none;
}

.addRecordAnimeImgBtnContainer, .addRecordBookImgBtnContainer {
	width: 20%;
	display: inline-block;
}

.addRecordFilesDiv {
	background-color: #2A2A8E !important;
}

.addRecordBtn {
	background-color: #2A2A8E !important;
	margin-left: 1.5%;
}

.addRecordImgBtn {
	background-color: #2A2A8E !important;
	width: 100%;
}

.addRecordDiv {
	margin-left: 50px;
	width: 85%;
}

.categoryDiv {
	display: none;
	position: relative;
    bottom: 20px;
}

.contentModal {
	max-height: 75% !important;
	height: 75% !important;
	width: 75% !important;
}

.modalContentButtons {
    position: relative;
    top: 25%;
    left: 25%;
}

.modalContentAdd {
	color: #2A2A8E;
}

.modalContentDelete {
	color: red;
}

.modalContentEpisodeDelete {
	padding-top: 1% !important;
    padding-left: 4.2% !important;
}

.modalContentEpisodeDeleteIcon {
	cursor: pointer;
}

.infoIcon {
	font-size: 16px !important;
	color: #2A2A8E!important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

.genresIcon {
	font-size: 22px !important;
}

.file-path {
	font-size: 12px !important;
	color: #3E3E3E !important;
}

.formInfo {
	margin-bottom: 15px;
}

.text {
	font-size: 18px !important;
	margin-left: 50px !important;
	width: 90% !important;
}

.autocomplete-content {
	max-height: 465%;
}

.addRecordDiv .active {
	color: #2A2A8E;
}

#mangaAddChapter {
	display: none;
}

.mangaModalButtons {
	left: 5%;
}

#volumeFetchPreloader {
	visibility: hidden;
	width: 35px;
    height: 35px;
    position: absolute;
    right: 3%;
    top: 4%;
}

.mangaVolumeSynopsis {
	max-height: 150px;
	overflow-y: auto;
}