/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for all app pages. */



html {
	background-color: #D9D9DB;
	font-family: "Montserrat" !important;
}

body {
	overflow-x: hidden;
}

nav {
	background-color: #2A2A8E !important;
}

h2 {
	text-decoration: underline;
	margin-left: 50px !important;
	font-size: 25px !important;
}

button {
	font-family: "Montserrat" !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border-color: #2A2A8E !important;
	background-color: #2A2A8E !important;
}

#searchBarDiv1 input[type="text"]:not(.browser-default):focus:not([readonly]),
#searchBarDiv1 input.valid[type="text"]:not(.browser-default),
[type="text"]:not(.browser-default):focus:not([readonly]),
input.valid[type="text"]:not(.browser-default),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input.valid[type=date]:not(.browser-default),
textarea.materialize-textarea:focus:not([readonly]),
textarea.materialize-textarea.valid {
	border-bottom-color: #2A2A8E !important;
	box-shadow: 0 1px 0 0 #2A2A8E !important;
}

#searchBarDiv1 .input-field .prefix.active,
input[type="text"]:not(.browser-default):focus:not([readonly])+label,
input[type="date"]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type="text"]:not(.browser-default):focus.valid ~ label {
	color: #2A2A8E !important;
}

#toast-container {
  	top: auto !important;
  	right: auto !important;
  	bottom: 10%;
  	left:7%;  
}

.select-wrapper input.select-dropdown {
	text-align: center;
}

.dropdown-content li>span, .select-wrapper span {
	color: #2A2A8E !important;
}

.select-dropdown li.disabled>span {
	color: rgba(0,0,0,0.3) !important;
}

.select-dropdown li {
	min-height: 0px !important;
}

.select-dropdown li>span {
	text-align: center;
	font-size: 14px !important;
	line-height: 12px !important;
}

.checkboxSpan {
	top: 5px;
	left: 10px;
	color: initial;
	line-height: initial !important;
}

.checkboxText {
	color: initial;
	line-height: 20px !important;
}

.checkboxLabel {
	display: block;
}

.infoModal {
	top: 30% !important;
    width: 55% !important;
}

.btn-floating {
	background-color: #2A2A8E !important;
}

.modal {
	border-radius: 30px !important;
}

.row {
	margin-bottom: 0 !important;
}

.modalButtons {
	background-color: #2A2A8E !important;
	margin-left: 3px !important;
	border-radius: 30px !important;
	color: white !important;
}

.genreRow {
	margin-bottom: 10px !important;
}

.selectShortVerticalScroll ul {
	height: 125px !important;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the index page. */



#outerLayer {
	position: relative;
	margin: 8px 0 auto 0;
	width: 95%;
}

#table, #headersTable {
	width: 95%;
	margin-left: 50px;
}

#add {
	position: fixed;
  	bottom: 23px;
  	right: 23px;
}

#remove {
	background-color: #2A2A8E;
	position: fixed;
  	bottom: 23px;
  	left: 23px;
  	display: none;
}

#tableDiv, #headersTableDiv {
	position: relative;
	bottom: 15px;
}

#tableDiv {
	height: 467px;
	overflow-y: auto;
	overflow-x: hidden;
}

#searchBarDiv1 {
	margin-left: 40px;
	margin-bottom: 0;
}

#searchBarDiv2 {
	margin-bottom: 0;
}

#preloader {
	display: block !important;
	position: relative !important;
  	margin: 0 auto;
  	bottom: 225px;
}

#synopsisModal {
	width: 75%;
    height: 60%;
    top: 15% !important;
}

#synopsisPreloader {
	display: none;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#updatePreloader {
	display: block !important;
	position: relative !important;
	left: 46%;
	margin-bottom: 3%;
}

#updatePreloaderDiv {
	font-weight: bold;
	display: none;
}

#updateAvailable {
	display: none;
}

#tableBody {
	font-size: 13px;
}

.spinner-layer {
	border-color: #2A2A8E !important;
}

.preloaderIndicator {
	position: absolute !important;
	bottom: 40px;
	right: 40px;
}

.recordsNameRowDiv {
	line-height: 20px;
	color:blue;
 	text-decoration:underline;
	cursor: pointer;
	display: inline;
}

.recordsRowDiv {
	line-height: 20px;
}

.recordButtonsRowDiv {
	height: 20px;
	position: relative;
	bottom: 58px;
}

.recordsChecks {
	opacity: 1 !important;
	position: relative !important;
	top: 2px;
	accent-color: #2A2A8E;
}

.iconSorter {
	position: relative;
	top: 8px;
	left: 8px;
	cursor: pointer;
}

.func {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	font-size: 18px !important;
	background-color: #2A2A8E !important;
  	color: white !important;
  	border-radius: 12px !important;
}

.topNavTapContainer {
	display: inline-block;
}

.synopsisIconDiv {
	display: inline;
}

.recordsNameContainer {
	text-align: left;
}

.synopsisInfoIcon {
	font-size: 15px !important;
	color: #2A2A8E!important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the filter modal. */



#filterModal {
	width: 97%;
	height: 85%;
	max-height: 85%;
}

#filterModal .s2 {
	width: 20%;
}

#filterModalGenreHeading {
	margin-top: 25px;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the database modal. */


#databaseModal {
	width: 75%;
	height: 60%;
}

#databaseImportBtn {
	display: none;
}

#databaseNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#databaseSelection li {
	width: 50%;
    text-align: center;
}

#databaseModal .modal-content {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

#databaseExportContainer p, #databaseImportContainer p {
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 35px;
}

#databaseCheckLabel {
	position: relative;
	top: 11px;
	left: 16px;
}

#databaseCheckSpan {
	line-height: 19px;
}

#databaseImportSwitchDiv {
	display: none;
	position: relative;
    top: 12px;
    left: 25px;
}

#databaseImportSwitchDiv label,
#databaseCheckLabel span {
	color: initial;
	font-weight: bold;
}

#databaseImportSwitchDiv label input[type=checkbox]:checked+.lever:after {
	background-color: #2A2A8E !important;
}

#importCSVContent {
	display: none;
}

.databaseImportDiv {
	margin-left: 11px !important;
}

.databaseWindowDiv {
    margin-left: 20px !important;
}

.databaseDataInput {
	width: 80% !important;
}

.databaseContainer {
	display: none;
}

.textFocus {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: bold;
	font-size: 13px;
}

.verticalDivider {
/*	font-weight: bold;*/
}


/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the import modal. */

#importModal {
	top: 20% !important;
    width: 55% !important;
    height: 50%;
    max-height: 50%;
    overflow-y: hidden;
}

#importModal .modal-content {
	overflow-y: hidden;
}

#importModalFormDiv {
	overflow-y: auto;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the settings modal. */



footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
}

#settingsModal h5 {
	text-decoration: underline;
}

#settingsModal {
	width: 75%;
	max-height: 80%;
	height: 80%;
}

#settingsModal .modal-content {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

#settingsNav {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#settingsColorDiv {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}

#settingsSecondaryWindowDiv {
	margin-top: 0px !important;
}

#settingsAboutContainer p {
	margin: 30px;
	line-height: 35px;
}

#settingsSelection li {
	width: 50%;
    text-align: center;
}

#appVersion {
	margin: 30px;
    position: absolute;
    bottom: 35px;
}

.fullScreenRow {
	margin-top: 15px;
}

.settingsSecondCheckbox {
	margin-left: -9px !important;
}

.settingsColorContainers {
	width: 49%;
    display: inline-block;
}

.settingsColorInput {
	position: relative;
    top: 4px;
    left: 6px;
}

.settingsWindowDiv {
    margin-left: 20px !important;
}

.settingsWindowInputDiv {
	width: 49% !important;
	margin-bottom: 0px !important;
}

.settingsWindowInput {
	width: 15% !important;
}

.settingsHeaders {
	margin-bottom: 0px;
	position: relative;
	top: 5px;
}

.settingsOptions {
	display: none;
}

.settingsDataInput {
	width: 80% !important;
}

.hyperlink {
	color: blue;
    text-decoration: underline;
    cursor: pointer;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the application tutorial. */



#introductionModal {
	height: 35%;
}

#introductionCheckLabel {
	position: relative;
	top: 11px;
	left: 16px;
}

#introductionCheckSpan {
	line-height: 19px;
}

.tap-target {
	background-color: #2A2A8E !important;
	color: white;
}



/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the addRecord page. */



#genresTitle {
	margin-top: 15px;
	position: relative;
	bottom: 20px;
}

#categoryAnimeDiv .formInfo {
	position: relative;
	bottom: 15px;
}

#categoryAnimeForm2 {
	position: relative;
	bottom: 20px;
}

#addRecordBody {
	overflow-y: hidden;
}

#categorySelection li {
	width: 20%;
    text-align: center;
}

#animeSave {
	position: fixed;
	right: 23px;
	bottom: 92px;
}

#categoryAnimeDiv .row {
	position: relative;
	bottom: 10px;
}

#categoryAnimeForm1 {
	margin-left: 5%;
	display: inline-block;
}

#addRecordAnimeImg {
	margin-bottom: 5px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	height: auto;
	width: 100%;
}

#animeMoreDetailsModal {
	width: 65%;
	height: 55%;
}

#animePreloader {
	visibility: hidden;
	position: absolute;
    top: 23px;
    right: 23px;
    display: inline;
}

#addRecordAnimeImgBtnDiv {
	width: 100%;
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
}

#addRecordAnimeImageDiv {
	width: 22%;
}

#animeAddImgInput {
	display: none;
}

#animeReview, #animeSynopsis {
	max-height: 400px
}

#updateRecordPreloader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
}

.addRecordAnimeImgBtnContainer {
	width: 20%;
	display: inline-block;
}

.addRecordFilesDiv {
	background-color: #2A2A8E !important;
}

.addRecordBtn {
	background-color: #2A2A8E !important;
	margin-left: 1.5%;
}

.addRecordAnimeImgBtn {
	background-color: #2A2A8E !important;
	width: 100%;
}

.addRecordDiv {
	margin-left: 50px;
	width: 85%;
}

.categoryDiv {
	display: none;
	position: relative;
    bottom: 20px;
}

.contentModal {
	max-height: 75% !important;
	height: 75% !important;
	width: 75% !important;
}

.modalContentButtons {
    position: relative;
    top: 25%;
    left: 25%;
}

.modalContentAdd {
	color: #2A2A8E;
}

.modalContentDelete {
	color: red;
}

.modalContentEpisodeDelete {
	padding-top: 1% !important;
    padding-left: 4.2% !important;
}

.modalContentEpisodeDeleteIcon {
	cursor: pointer;
}

.infoIcon {
	font-size: 16px !important;
	color: #2A2A8E!important;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

.file-path {
	font-size: 12px !important;
	color: #3E3E3E !important;
}

.formInfo {
	margin-bottom: 15px;
}

.text {
	font-size: 18px !important;
	margin-left: 50px !important;
	width: 90% !important;
}

.autocomplete-content {
	max-height: 465%;
}

.addRecordDiv .active {
	color: #2A2A8E;
}