/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for the application tutorial. */



#introductionModal {
	height: 35%;
}

#introductionCheckLabel {
	position: relative;
	top: 11px;
	left: 16px;
}

#introductionCheckSpan {
	line-height: 19px;
}

.tap-target {
	background-color: #2A2A8E !important;
	color: white;
}