/*---------------------------------------------------------------------------------------------------------------------*/

/* Styling applicable for all app pages. */



body {
	color: black;
	overflow-x: hidden;
}

input, textarea {
	color: black !important;
	color-scheme: light !important;
}

button {
	font-family: "Montserrat" !important;
}

html {
	background-color: #D9D9DB;
	font-family: "Montserrat" !important;
}

h2 {
	text-decoration: underline;
	margin-left: 50px !important;
	font-size: 25px !important;
}

nav {
	background-color: #2A2A8E !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border-color: #2A2A8E !important;
	background-color: #2A2A8E !important;
}

#addRecordBody nav {
	z-index: 1;
}

.addRecordBtn, .addRecordFilesDiv span, .addRecordSave i,
.associationsBtn i, #databaseExport, #databaseImport,
.modalButtons, .optionsBtn i, .searchSubmissionBtn i,
.relatedContentBtn i {
	color: white !important;
}

#add i, #windowTitle,
.categoryLink, .material-icons {
	color: white;
}

#animeNameSearchInnerDiv1 input.valid[type="text"]:not(.browser-default),
#animeNameSearchInnerDiv1 input[type="text"]:not(.browser-default):focus:not([readonly]),
#searchBarDiv1 input[type="text"]:not(.browser-default):focus:not([readonly]),
#searchBarDiv1 input.valid[type="text"]:not(.browser-default),
[type="text"]:not(.browser-default):focus:not([readonly]),
input.valid[type="text"]:not(.browser-default),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input.valid[type=date]:not(.browser-default),
textarea.materialize-textarea:focus:not([readonly]),
textarea.materialize-textarea.valid {
	border-bottom-color: #2A2A8E !important;
	box-shadow: 0 1px 0 0 #2A2A8E !important;
}

#animeNameSearchInnerDiv1 .input-field .prefix.active,
#associationsModal .input-field .prefix.active,
#bookNameSearchInnerDiv1 .input-field .prefix.active,
#filmNameSearchInnerDiv1 .input-field .prefix.active,
#mangaNameSearchInnerDiv1 .input-field .prefix.active,
#searchBarDiv1 .input-field .prefix.active,
#showNameSearchInnerDiv1 .input-field .prefix.active,
input[type="text"]:not(.browser-default):focus:not([readonly])+label,
input[type="date"]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type="text"]:not(.browser-default):focus.valid ~ label {
	color: #2A2A8E !important;
}

#closeButton {
	grid-column: 3;
}

#dragRegion {
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
	display: grid;
  	grid-template-columns: auto 138px;
}

#main {
	position: relative;
	top: 32px;
}

#maxButton, #restoreButton {
	grid-column: 2;
}

#minButton {
	grid-column: 1;
}

#titleBar {
	display: block;
	position: fixed;
	height: 32px;
	width: 100%;
	background: #2A2A8E;
	padding: 4px;
	color: white;
	top: 0px;
	z-index: 1000;
}

#titleBar .btn {
	background-color: #2A2A8E !important;
}

#toast-container {
  	top: auto !important;
  	right: auto !important;
  	bottom: 10%;
  	left:7%;  
}

#windowControls {
	display: grid;
	grid-template-columns: repeat(3, 46px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	cursor: pointer;
}

#windowControls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	-webkit-app-region: no-drag
}

#windowTitle {
	grid-column: 1;
	display: flex;
	align-items: center;
	margin-left: 8px;
	overflow: hidden;
	font-family: "Segoe UI", sans-serif;
	font-size: 12px;
}

#windowTitle span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
}

.btn-floating {
	background-color: #2A2A8E !important;
}

.caret {
	fill: black !important;
}

.checkboxLabel {
	display: block;
}

.checkboxSpan {
	top: 5px;
	left: 10px;
	color: initial;
	line-height: initial !important;
}

.checkboxText {
	color: black;
	line-height: 20px !important;
}

.collapsible {
	border-width: 3px !important;
}

.collapsible-header, .modal .modal-content,
.modal .modal-footer, .dropdown-content {
	background-color: #D9D9DB !important;
}

.collapsible li, .collapsible-body,
.collapsible-header {
	border-bottom-width: 3px !important;
}

.dropdown-content li>span, .select-wrapper span {
	color: #2A2A8E !important;
}

.file-path {
	font-size: 12px !important;
}

.genreRow {
	margin-bottom: 10px !important;
}

.iconSorter, .prefix {
	color: black;
}

.infoModal {
	top: 30% !important;
    width: 55% !important;
}

.invisibleGenreCheck {
	visibility: hidden;
	height: 25px;
}

.permHidden {
	display: none !important;
}

.permShow {
	display: block !important;
}

.hyperlink {
	color: blue;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.modal {
	border-radius: 30px !important;
}

.modalButtons {
	background-color: #2A2A8E !important;
	margin-left: 3px !important;
	border-radius: 30px !important;
}

.navbar-fixed {
	z-index: 1 !important;
}

.row {
	margin-bottom: 0 !important;
}

.selectShortVerticalScroll ul {
	height: 125px !important;
}

.select-dropdown li {
	min-height: 0px !important;
}

.select-dropdown li>span {
	text-align: center;
	font-size: 14px !important;
	line-height: 12px !important;
}

.select-wrapper input.select-dropdown {
	text-align: center;
}

.select-wrapper input.select-dropdown:focus {
	border-bottom-color: #2A2A8E !important;
}